{% extends 'base.html' %}
{% block head %}
  {% load static %}
{% endblock %}
{% block content %}
  <section class="page">
    <header>
      <figure>
        <img src="{% static "/assets/images/gridpaste-logo.svg" %}" alt="logo" />
      </figure>
    </header>
    <div class="form">
            {% if user.is_authenticated %}
            <p>{{ user.username }} you're logged in already. <a href="{% url 'logout' %}">Logout?</a></p>
            {% else %}
            <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
              {% if form.errors %}
                {% for field, errors in form.errors.items %}
                  {% for error in errors %}
              <div class="error">{{ error }}</div>
                  {% endfor %}
                {% endfor %}
              {% endif %}
              <p>{{ form.username.label_tag }}</p>
              <p>{{ form.username }}</p>
              <p>{{ form.password.label_tag }}</p>
              <p>{{ form.password }}</p>
              <button type="submit" class="button submit">Login</button>
              <div>
                <a href="/">Go back</a>
              </div>
            </form>
            {% endif %}
    </div>
    <footer>
      <address>Copyright &copy; 2014-2019</address>
    </footer>
  </section>
{% endblock %}