{% extends 'base.html' %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if user.is_authenticated %}
<p>{{ user.username }} you're logged in already. <a href="{% url 'logout' %}">Logout?</a></p>
{% else %}
<form method="post" action="{% url 'login' %}">
{% csrf_token %}
  <p>{{ form.username.label_tag }}</p>
  <p>{{ form.username }}</p>
  <p>{{ form.password.label_tag }}</p>
  <p>{{ form.password }}</p>
  <p><input type="submit" value="login"></p>
</form>

<p><a href="{% url 'password_reset' %}">Lost password?</a></p>
{% endif %}
{% endblock %}