{% extends 'base.html' %}
{% block head %}
{% endblock %}{% load static %}
{% block content %}
<section class="page">
  <header>
    <figure>
      {% load static %}
      <img src="{% static "assets/images/gridpaste-logo.svg" %}" alt="logo" />
    </figure>
  </header>
  <div class="form">
    <form id="form" method="post">
      {% csrf_token %}
      {% if messages.error %}
        <div class="error">{{ messages.error }}</div>
      {% endif %}
      {% if form.errors %}
        {% for field, errors in form.errors.items %}
          {% for error in errors %}
        <div class="error">{{ error }}</div>
          {% endfor %}
        {% endfor %}
      {% endif %}
      <p>{{ form.username.label_tag }}</p>
      <p>{{ form.username }}</p>
      <p>{{ form.password1.label_tag }}</p>
      <p>{{ form.password1 }}</p>
      <p>{{ form.password2.label_tag }}</p>
      <p>{{ form.password2 }}</p>
      <button type="submit" class="button submit">Register</button>
      <div>
        <a href="{% url 'index' %}">Go back</a>
      </div>
    </form>
  </div>
  <footer>
    <address>Copyright &copy; 2014-{% now "Y" %}</address>
  </footer>
</section>
{% endblock %}
