{% extends 'layout.html' %}
{% block head %}
  {% parent %}
  <script type="text/javascript" src="//use.typekit.net/cmr6vjy.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <script type="text/javascript" src="/app/external/jsxgraph.js"></script>
{% endblock %}
{% block content %}
    <div id="application" role="application">
        <main id="left-bar">
          <header>
            <img src="/images/gridpaste-logo.svg" alt="logo" />
            <p>
              <span class="red">Gridpaste</span> is an online math tool to share computations, transformations, and annotations on geometric structures in a coordinate plane. One starts with a clean board and places their geometric elements and performs actions on these elements in a recordable sequence. The sequence may then be saved and shared by a unique URL to colleagues or instructors.
            </p>
          </header> 
          <section id="auth">
            <div class="col"><a href="#">Sign Up</a></div>
            <div class="col"><a href="#">Login</a></div>
          </section>
          <section id="run-function">
            <span id="f">f</span> <input type="text" class="function" name="run" value="" />
          </section>
          <h2>Elements</h2>
          <section id="elements">
            <div class="col">
              <div class="button circle">Circle</div>
              <div data-html="circle">
                <div class="draw-circle">
                  <label for="circle-p1">Center Point (x,y):</label><input type="text" name="center" class="inside" value="0.0,0.0" data-type="coord" />
                  <label for="radius">Radius:</label><input type="text" name="radius" data-type="radius" class="inside" value="0" />
                  <div class="button draw">Draw to board</div>
                </div>
              </div>
              <div class="button angle">Angle</div>
              <div data-html="angle">
                <div class="draw-angle">
                  <label for="point1">Point 1 (x,y):</label><input type="text" name="point1" class="inside" value="0.0,0.0" data-type="coord" />
                  <label for="point2">Center Point (x,y):</label><input type="text" name="point2" class="inside" value="0.0,0.0" data-type="coord" />
                  <label for="point3">Point 3 (x,y):</label><input type="text" name="point3" class="inside" value="0.0,0.0" data-type="coord" />
                  <div class="button draw">Draw to board</div>
                </div>
              </div>
              <div class="button arc">Arc</div>
              <div data-html="arc">
                <div class="draw-arc">
                  <label for="point1">Center Point (x,y):</label><input type="text" name="point1" class="inside" value="0.0,0.0" data-type="coord" />
                  <label for="point2">Point 2 (x,y):</label><input type="text" name="point2" class="inside" value="0.0,0.0" data-type="coord" />
                  <label for="point3">Point 3 (x,y):</label><input type="text" name="point3" class="inside" value="0.0,0.0" data-type="coord" />
                  <div class="button draw">Draw to board</div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="button ellipse">Ellipse</div>
              <div data-html="ellipse">
                <div class="draw-ellipse">
                  <label for="point1">Point 1 (x,y):</label><input type="text" name="point1" class="inside" value="0.0,0.0" data-type="coord" />
                  <label for="point2">Point 2 (x,y):</label><input type="text" name="point2" class="inside" value="0.0,0.0" data-type="coord" />
                  <label for="point3">Point 3 (x,y):</label><input type="text" name="point3" class="inside" value="0.0,0.0" data-type="coord" />
                  <div class="button draw">Draw to board</div>
                </div>
              </div>
              <div class="button segment">Segment</div>
              <div data-html="segment">
                <div class="draw-segment">
                  <label for="point1">End Point 1 (x,y):</label><input type="text" name="point1" class="inside" value="0.0,0.0" data-type="coord" />
                  <label for="point2">End Point 2 (x,y):</label><input type="text" name="point2" class="inside" value="0.0,0.0" data-type="coord" />
                  <div class="button draw">Draw to board</div>
                </div>
              </div>
              <div class="button line">Line</div>
              <div data-html="line">
                <div class="draw-line">
                  <label for="point1">Point 1 (x,y):</label><input type="text" name="point1" class="inside" value="0.0,0.0" data-type="coord" />
                  <label for="point2">Point 2 (x,y):</label><input type="text" name="point2" class="inside" value="0.0,0.0" data-type="coord" />
                  <div class="button draw">Draw to board</div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="button polygon">Polygon</div>
              <div data-html="polygon">
                <div class="draw-polygon">
                  <label for="point1">Point 1 (x,y):</label><input type="text" name="point1" class="inside" value="0.0,0.0" data-type="coord" />
                  <label for="point2">Point 2 (x,y):</label><input type="text" name="point2" class="inside" value="0.0,0.0" data-type="coord" />
                  <label for="point3">Point 3 (x,y):</label><input type="text" name="point3" class="inside" value="0.0,0.0" data-type="coord" />
                  <div class="button more">Add point</div>
                  <div class="button draw">Draw to board</div>
                </div>
              </div>
              <div class="button text">Text</div>
             <div data-html="text">
                <div class="draw-text">
                  <label for="point">Position (x,y):</label><input type="text" name="position" class="inside" value="0.0,0.0" data-type="coord" />
                  <label for="size">Size (pixels):</label><input type="text" name="size" data-type="pixel" class="inside" value="25" />
                  <label for="text">Text:</label><input type="text" name="text" data-type="text" class="inside" value="" />
                  <div class="button draw">Draw to board</div>
                </div>
              </div>
              <div class="button point">Point</div>
              <div data-html="point">
                <div class="draw-point">
                  <label for="point1">Point (x,y):</label><input type="text" name="point" class="inside" value="0.0,0.0" data-type="coord" />
                  <div class="button draw">Draw to board</div>
                </div>
              </div>
            </div>
          </section>
          <h2>Transform</h2>
          <section id="transform">
            <div class="col">
              <div class="button rotate">Rotate</div>
              <div data-html="rotate">
                <div class="transform-rotate">
                 <label for="figure">Figure (label):</label><input type="text" name="figure" data-type="figure" class="inside" value="" />
                  <label for="degrees">Degrees:</label><input type="text" name="degrees" data-type="degrees" class="inside" value="" />
                  <div class="button transform">Transform on board</div>
                </div>
              </div>
              <div class="button reflect">Reflect</div>
              <div data-html="rotate">
                <div class="transform-reflect">
                 <label for="figure">Figure (label):</label><input type="text" name="figure" data-type="figure" class="inside" value="" />
                  <label for="axis">Axis (X/Y):</label><input type="text" name="axis" data-type="axis" class="inside" value="Y" />
                  <div class="button transform">Transform on board</div>
                </div>
              </div>
              <div class="button shear">Shear</div>
              <div data-html="shear">
                <div class="transform-shear">
                 <label for="figure">Figure (label):</label><input type="text" name="figure" data-type="figure" class="inside" value="" />
                  <label for="degrees">Degrees:</label><input type="text" name="degrees" data-type="degrees" class="inside" value="" />
                  <div class="button transform">Transform on board</div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="button translate">Translate</div>
              <div data-html="translate">
                <div class="transform-translate">
                 <label for="figure">Figure (label):</label><input type="text" name="figure" data-type="figure" class="inside" value="" />
                  <label for="values">Values (x,y):</label><input type="text" name="values" data-type="value" class="inside" value="" />
                  <div class="button transform">Transform on board</div>
                </div>
              </div>
              <div class="button scale">Scale</div>
             <div data-html="scale">
                <div class="transform-scale">
                 <label for="figure">Figure (label):</label><input type="text" name="figure" data-type="figure" class="inside" value="" />
                  <label for="values">Values (x,y):</label><input type="text" name="values" data-type="value" class="inside" value="" />
                  <div class="button transform">Transform on board</div>
                </div>
              </div>
            </div>
          </section>
          <h2>Misc</h2>
          <section id="misc">
            <div class="col">
              <div class="button play">Play</div>
              <div class="button clear">Clear</div>
              <div class="button delete_">Delete</div>
             <div data-html="delete_">
                <div class="misc-delete_">
                 <label for="figure">Figure (label):</label><input type="text" name="figure" data-type="figure" class="inside" value="" />
                  <div class="button misc">Delete</div>
                </div>
              </div>
              <div class="button reset">Reset</div>
            </div>
          </section>
          <section id="bottom">
            <div class="col">
              <div class="start-record button">Start Record</div>
              <div class="end-record button">End Record</div>
            </div>
            <div class="col">
              <div class="button share">Share</div>
              <div data-html="share">
                <div class="misc-share">
                 <label for="title">Title</label><input type="text" name="title" class="inside title" value="" />
                 <br />
                 <br />
                  <div class="button submit">Save and Share!</div>
                </div>
              </div>
              <div data-html="done">
                <div class="misc-done">
                 <label for="url">The URL!</label><input type="text" name="url" class="inside url" value="" />
                </div>
              </div>
              <div class="button undo">Undo</div>
            </div>
            <footer>
              <p>
                This is an <a target="_blank" class="underline" href="https://github.com/jahan-addison/gridpaste">open</a> tool available as a public service. Please report bugs <a target="_blank" class="underline" href="https://github.com/jahan-addison/gridpaste/issues?state=open">here</a>, and to send any questions, suggestions, or concerns. 
              </p>
              <address>Copyright &copy; 2014</address>
            </footer>
          </section>
        </main>
        <div class="zoom in"><span class="in">+</span></div>
        <div class="zoom out"><span class="out">_</span></div>
        <section id="grid">
        </section>
    </div>
    {% if env == "development" %}
    <script src='//localhost:35728/livereload.js'></script>
    {% endif %}
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="/app/dist/build.js"></script>
{% endblock %}
