{% extends 'layout.html' %}
{% block head %}
  {% parent %}
  <script type="text/javascript" src="//use.typekit.net/cmr6vjy.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <script type="text/javascript" src="/js/external/jsxgraph.js"></script>
{% endblock %}
{% block content %}
    <div id="application" role="application">
        <main id="left-bar">
          <header>
            <img src="/images/gridpaste-logo.svg" alt="logo" />
            <p>
              <span class="red">Lorem ipsum</span> dolor sit amet, consectetur adipiscing elit. Cras sapien leo, molestie sit amet tellus a, viverra ornare augue. Vestibulum quam sem, molestie eu velit ut, rhoncus molestie augue. Mauris ultrices sapien nec lorem bibendum semper. Mauris id quam mollis, luctus enim vitae, vehicula odio. N nec est. Nulla facilisi. Aenean non
            </p>
          </header> 
          <section id="auth">
            <div class="col"><a href="#">Sign Up</a></div>
            <div class="col"><a href="#">Login</a></div>
          </section>
          <section id="run-function">
            <span id="f">f</span> <input type="text" class="function" name="run" value="e^z" />
          </section>
          <h2>Elements</h2>
          <section id="elements">
            <div class="col">
              <div class="button circle">Circle</div>
              <div data-html="circle">
                <div class="draw-circle">
                  <label for="circle-p1">Center Point (x,y):</label><input type="text" name="center" class="inside" value="0.0,0.0" />
                  <label for="radius">Radius:</label><input type="text" name="radius" class="inside" value="0" />
                  <div class="button draw">Draw to board</div>
                </div>
              </div>
              <div class="button angle">Angle</div>
              <div data-html="angle">
                <div class="draw-angle">
                  <label for="point1">Point 1 (x,y):</label><input type="text" name="point1" class="inside" value="0.0,0.0" />
                  <label for="point2">Center Point (x,y):</label><input type="text" name="point2" class="inside" value="0.0,0.0" />
                  <label for="point3">Point 3 (x,y):</label><input type="text" name="point3" class="inside" value="0.0,0.0" />
                  <div class="button draw">Draw to board</div>
                </div>
              </div>
              <div class="button arc">Arc</div>
              <div data-html="arc">
                <div class="draw-arc">
                  <label for="point1">Center Point (x,y):</label><input type="text" name="point1" class="inside" value="0.0,0.0" />
                  <label for="point2">Point 2 (x,y):</label><input type="text" name="point2" class="inside" value="0.0,0.0" />
                  <label for="point3">Point 3 (x,y):</label><input type="text" name="point3" class="inside" value="0.0,0.0" />
                  <div class="button draw">Draw to board</div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="button ellipse">Ellipse</div>
              <div data-html="ellipse">
                <div class="draw-ellipse">
                  <label for="point1">Point 1 (x,y):</label><input type="text" name="point1" class="inside" value="0.0,0.0" />
                  <label for="point2">Point 2 (x,y):</label><input type="text" name="point2" class="inside" value="0.0,0.0" />
                  <label for="point3">Point 3 (x,y):</label><input type="text" name="point3" class="inside" value="0.0,0.0" />
                  <div class="button draw">Draw to board</div>
                </div>
              </div>
              <div class="button segment">Segment</div>
              <div data-html="segment">
                <div class="draw-segment">
                  <label for="point1">End Point 1 (x,y):</label><input type="text" name="point1" class="inside" value="0.0,0.0" />
                  <br/><label for="point2">End Point 2 (x,y):</label><input type="text" name="point2" class="inside" value="0.0,0.0" />
                  <div class="button draw">Draw to board</div>
                </div>
              </div>
              <div class="button line">Line</div>
              <div data-html="line">
                <div class="draw-line">
                  <label for="point1">Point 1 (x,y):</label><input type="text" name="point1" class="inside" value="0.0,0.0" />
                  <label for="point2">Point 2 (x,y):</label><input type="text" name="point2" class="inside" value="0.0,0.0" />
                  <div class="button draw">Draw to board</div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="button parabola">Parabola</div>
              <div data-html="parabola">
                <div class="draw-parabola">
                  <label for="point1">Line Point 1 (x,y):</label><input type="text" name="point1" class="inside" value="0.0,0.0" />
                  <br /><label for="point2">Line point 2 (x,y):</label><input type="text" name="point2" class="inside" value="0.0,0.0" />
                  <label for="point3">Center Point (x,y):</label><input type="text" name="point3" class="inside" value="0.0,0.0" />
                  <div class="button draw">Draw to board</div>
                </div>
              </div>
              <div class="button polygon">Polygon</div>
              <div data-html="polygon">
                <div class="draw-polygon">
                  <label for="point1">Point 1 (x,y):</label><input type="text" name="point1" class="inside" value="0.0,0.0" />
                  <label for="point2">Point 2 (x,y):</label><input type="text" name="point2" class="inside" value="0.0,0.0" />
                  <label for="point3">Point 3 (x,y):</label><input type="text" name="point3" class="inside" value="0.0,0.0" />
                  <div class="button more">Add point</div>
                  <div class="button draw">Draw to board</div>
                </div>
              </div>
              <div class="button point">Point</div>
              <div data-html="point">
                <div class="draw-point">
                  <label for="point1">Point (x,y):</label><input type="text" name="point" class="inside" value="0.0,0.0" />
                  <div class="button draw">Draw to board</div>
                </div>
              </div>
            </div>
          </section>
          <h2>Transform</h2>
          <section id="transform">
            <div class="col">
              <div class="button">Rotation</div>
              <div class="button">Reflection</div>
              <div class="button">Shear</div>
            </div>
            <div class="col">
              <div class="button">Translation</div>
              <div class="button">Scaling</div>
            </div>
          </section>
          <h2>Misc</h2>
          <section id="misc">
            <div class="col">
              <div class="button">Text</div>
            </div>
          </section>
          <section id="bottom">
            <div class="col">
              <div class="button">Start Record</div>
              <div class="button">End Record</div>
            </div>
            <div class="col">
              <div class="button">Share</div>
            </div>
            <footer>
              <p>
                Vivamus mollis leo at accumsan cursus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam pharetra nunc enim, sit amet vehicula purus volutpat sit amet. Nunc interdum malesuada pulvinar. it amet nunc.
              </p>
              <address>Copyright &copy; 2014</address>
            </footer>
          </section>
        </main>
        <section id="grid">
        </section>
    </div>
    {% if env == "development" %}
    <script src='//localhost:35728/livereload.js'></script>
    {% endif %}
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="/js/dist/build.js"></script>
{% endblock %}
