{% extends 'layout.html' %}
{% block head %}
  {% parent %}
  <script type="text/javascript" src="//use.typekit.net/cmr6vjy.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
{% endblock %}
{% block content %}
  <section class="page">
    <header>
      <figure>
        <img src="/images/gridpaste-logo.svg" alt="logo" />
      </figure>
    </header>
    <div class="form">
      <form id="form" method="post" action="/register">
        {% if messages.error %}
          <div class="error">{{ messages.error }}</div>
        {% endif %}
        <label for="username">email </label>
        <input type="email" name="email" value="" required/>
        <label for="username">username </label>
        <input type="text" minlength="4" maxlength="15" name="username" value="" required/>
        <label for="password">password </label>
        <input type="password" name="password" value="" required/>
        <div class="button submit">Register</div>
        <div>
          <a href="/">Go back</a>
        </div>
      </form>
    </div>
    <footer>
      <address>Copyright &copy; 2014</address>
    </footer>
  </section>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.12.0/jquery.validate.min.js"></script>
    <script>
    $(function() {
      $('#form').validate();
      $('.submit').click(function() {
        $('#form').submit();
      });
    });
    </script>
{% endblock %}
