{% extends 'layout.html' %}
{% block head %}
  {% parent %}
  <script type="text/javascript" src="//use.typekit.net/cmr6vjy.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <script type="text/javascript" src="/js/external/jsxgraph.js"></script>
{% endblock %}
{% block content %}
    <div class="paste" id="application" role="application">
        <main id="left-bar">
          <header>
            <img src="/images/gridpaste-logo.svg" alt="logo" />
            <p>
              <span class="red">Lorem ipsum</span> dolor sit amet, consectetur adipiscing elit. Cras sapien leo, molestie sit amet tellus a, viverra ornare augue. Vestibulum quam sem, molestie eu velit ut, rhoncus molestie augue. Mauris ultrices sapien nec lorem bibendum semper. Mauris id quam mollis, luctus enim vitae, vehicula odio. N nec est. Nulla facilisi. Aenean non
            </p>
          </header> 
          <section id="auth">
            <div class="col"><a href="#">Sign Up</a></div>
            <div class="col"><a href="#">Login</a></div>
          </section>
          <div id="new">
            <div class="button new">New</div>
            <div class="button replay">Replay</div>
         </div>
          <section id="bottom">
            <footer>
              <p>
                Vivamus mollis leo at accumsan cursus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam pharetra nunc enim, sit amet vehicula purus volutpat sit amet. Nunc interdum malesuada pulvinar. it amet nunc.
              </p>
              <address>Copyright &copy; 2014</address>
            </footer>
          </section>
        </main>
        <div class="play"> </div>
        <section id="grid">
        </section>
    </div>
    {% if env == "development" %}
    <script src='//localhost:35728/livereload.js'></script>
    {% endif %}
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript">
      var $AppPaste = {% autoescape false %}{{paste.paste|json_encode}}{% endautoescape %};
    </script>
    <script src="/js/dist/build.js"></script>
{% endblock %}
