{% extends 'layout.html' %}
{% block head %}
  {% parent %}
  <script type="text/javascript" src="//use.typekit.net/cmr6vjy.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <script type="text/javascript" src="/app/external/jsxgraph.js"></script>
{% endblock %}
{% block content %}
    <div class="paste" id="application" role="application">
        <main id="left-bar">
          <header>
            <img src="/images/gridpaste-logo.svg" alt="logo" />
            <p>
              <span class="red">Gridpaste</span> is an online math tool to share computations, transformations, and annotations on geometric structures in a coordinate plane. One starts with a clean board and places their geometric elements and performs actions on these elements in a recordable sequence. The sequence may then be saved and shared by a unique URL to colleagues or instructors.
            </p>
          </header> 
          <section id="auth">
            {% if session.loggedIn %}
            <div class="margin"><a href="/logout"> Log out ({{ session.user}}) </a></div>
            <div class="margin"><a href="/pastes">Manage Pastes</a></div>
            {% else %}
            <div class="col"><a href="/register">Sign Up</a></div>
            <div class="col"><a href="/login">Login</a></div>
            {% endif %}
          </section>
          <div id="new">
            <div class="button new">New</div>
            <div class="button replay">Replay</div>
         </div>
          <section id="bottom">
            <footer>
              <p> This is an <a target="_blank" class="underline" href="https://github.com/jahan-addison/gridpaste">open</a> tool available as a public service. Please report bugs <a target="_blank" class="underline" href="https://github.com/jahan-addison/gridpaste/issues?state=open">here</a>, and to send any questions, suggestions, or concerns. 
              </p>
              <address>Copyright &copy; 2014</address>
            </footer>
          </section>
        </main>
        <div class="play"> </div>
        <section id="grid">
        </section>
    </div>
    {% if env == "development" %}
    <script src='//localhost:35728/livereload.js'></script>
    {% endif %}
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript">
      var $AppPaste = {% autoescape false %}{{paste.paste|json_encode}}{% endautoescape %};
    </script>
    <script src="/app/dist/main.min.js"></script>
{% endblock %}
