[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=jahan
Group=www-data
WorkingDirectory=/home/jahan/gridpaste
ExecStart=/bin/sh /home/jahan/gridpaste/run.sh


[Install]
WantedBy=multi-user.target
