{% extends 'base.html' %}
{% block head %}{% load static %}
  <script type="text/javascript" src="//use.typekit.net/cmr6vjy.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
{% endblock %}
{% block content %}
  <section class="page">
    <header>
      <figure>
        <img src="{% static "assets/images/gridpaste-logo.svg" %}" alt="logo" />
      </figure>
    </header>
    <div id="content">
      <a href="{% url 'index' %}">
        <div class="button new">New</div>
      </a>
      <a class="howto" href="https://github.com/jahan-addison/gridpaste/blob/master/HOWTO.md">See Howto</a>
      <ol id="items">
      {% for paste in pastes %}
          <li data-id="{{paste.id}}">
            <span>#{{paste.id}}</span>&nbsp;<span></span>
            <br />
            <a class="item" href="{% url 'pastes' %}/{{paste.id}}">{{ paste.title}}</a></li>
      {% endfor %}
      </ol>
    <div class="back">
      <a href="javascript:void(0);" onclick="history.back(-1);return false;" >Go back</a>
    </div>
    </div>
    <footer>
      <address>Copyright &copy; 2014-{% now "Y" %}</address>
    </footer>
  </section>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script>
    $(function() {
      var go = function() {
        document.location.href = $(this).find('a').first().attr('href');
      };
      $('#items li').click(go);
    });
    </script>
{% endblock %}