{% extends 'base.html' %}
{% block head %}
{% endblock %}{% load static %}
{% block content %}
  <section class="page">
    <header>
      <figure>
        <img src="{% static "assets/images/gridpaste-logo.svg" %}" alt="logo" />
      </figure>
    </header>
    <div id="content">
        <a href="{% url 'index' %}">
          <div class="button new">New</div>
        </a>
        <ol id="items">
            {% for paste in pastes %}
                <li data-id="{{paste.id}}">
                  <span>#{{paste.id}}</span>&nbsp;<span></span>
                  <br />
                  <a class="item" href="{{paste.id}}">{{ paste.title }}</a>
                  <a class="right remove" href="delete/{{paste.id}}">delete</a>
            {% endfor %}
            </ol>

    </div>
    <div class="back">
      <a href="javascript:void(0);" onclick="history.back(-1);return false;" >Go back</a>
    </div>
    </div>
    <footer>
      <address>Copyright &copy; 2014-{% now "Y" %}</address>
    </footer>
  </section>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script>
    $(function() {
      var go = function() {
        document.location.href = $(this).find('a').first().attr('href');
      };
      $('#items li').click(go);
      $('.remove').click(function(e) {
        e.preventDefault();
        if (confirm('Are you sure you want to delete this grid paste?')) {
          document.location.href = $(this).attr('href');
        }
        return false;
      });
      $('.edit').click(function(e) {
        e.preventDefault();
        $('#items li').off();
        var ref     = $(this).prev().prev('a'),
            content = ref.html(),
            copy    = ref.clone();
        ref.replaceWith("<input type='text' class='edit' value='" + content + "' />");
          $(document).on('keypress', 'input.edit', function(e) {
            if (e.which == 13) {
              var name = $(this).val();
              $.post('/edit/' + $(this).parent().attr('data-id'), {title: name}, function(data) {
                if (data.result == 'failed') {
                  alert('An error occurred while trying to edit your paste!');
                }
              });
              copy.html($(this).val());
              $(this).replaceWith(copy);
              $('#items li').click(go);
              $(document).off();
            }
          });
        return false;
      });
    });
    </script>
{% endblock %}