html,body,#application {
  width: 100%;
  height:100%;
  @include adelle(12px);
}

p {
  @include adelle(14px);
  color: #EBE9E8;
}

body {
  background: #F2F2F2;
}

.red {
  color: lighten($red, 3%);
}

.segment {
  padding: 10px 12px !important;
}

.delete_ {
  display:none;
}

#query {
}

[data-html] {
  display:none
}

.button.play,.button.reset {
  display:none
}


.dim {
  @include opacity(0.5);
  @include clearfix();
  cursor:default !important;
}

.finished {
  cursor:default !important;
}

.page {
  width:  720px;
  height: auto;
  min-height: 400px;
  margin: 0 auto;
  background: #fff;
}

.page form {
  @include clearfix();
  display:block;
  padding:10px;
  margin:0 auto;
  label {
    font-variant: small-caps;
    font-weight:bold;
    margin-bottom:5px;
    width:30px;
    font-size:1.4em;
    color: darken($pale-brown,15%);
    font-family: Verdana;
//    @include monaco(1.5em, darken($pale-brown,15%));
  }
  input {
    background: rgba(240, 205, 26, 0.18);
    border: rgba(228, 216, 216, 0.7) 1px solid;
    display:block;
    font-family: monospace;
    margin-bottom:25px;
    margin-left:-3px;
    width:100%;
    color: #464444;
  }
  .button {
    margin-left:-3px;
    display:block;
    clear:both;
    @include clearfix();
  }
  width:390px;
}

.col.user {
  padding-right:25px !important;
  width:49%;
}

.page footer {
  background: $oynx-brown;
  height:50px;
  width:100%;
  margin-top:50px;
  address {
    padding-top:2.5%;
  }
}

.page label.error {
  position: absolute;
  width: 100%;
  margin-top: -73px;
  margin-left: 85px;
  color: $red;
}

.page div.error {
  width: 100%;
  font-weight:bold;
  margin-bottom:10px;
  font-size:1.4em;
  color: darken($pale-brown,15%);
  color: $red;
}

.page a {
  width:150px;
  position: relative;
  top:8px;
  display:inline-block;
}

.page .button + div {
  display:block;
  clear:both;
}

.page header {
  figure {
    width:230px;
    padding-top:10px;
    img {
      margin-top:-10px;
    }
  }
  height: 100px;
  background: lighten($oynx-brown, 1%);
}

.page label {
  display:block;
}

.zoom {
  background: $pale-brown;
  width:46px;
  z-index:200;
  height:38px;
  overflow:hidden;
  cursor: pointer;
  @include clearfix();
  &.in {
    left:20px + 259px;
    span {
      position: relative;
      bottom:12px;
      left:6px;
      @include adelle(5em);
    }
  }
  &.out {
    span {
      position: relative;
      bottom:32px;
      left:10px;
      @include adelle(4.4em);
    }    
    left:75px + 259px;
  }
  position:absolute;
  bottom:0;
}

.button.undo {
  &.visible {
    display: block !important;
  }
  display:none;
}

.slider {

  div[class*="draw-"],
  div[class*="transform-"] {
    margin-left:5%;
    width: intrinsic;  
    input, label {
      clear:both;
      display:block;
    }
    input {
      margin-bottom: 10px;
    }
    @include clearfix();
    width: 192px;
  }
  .inside {
    padding:8px;
  }

  .button.draw, .button.transform {
    margin-top:18px;
  }

  .close-slider {
    right:2%;
    cursor:pointer;
    @include monaco(12px, $off-white);
    position:absolute;
    width:10px;
    height:10px;
  }
  background: #6D6262;
  padding:10px;
  @include border-radius(0 5px 0 5px 0);
}

a {
  color: $light-brown;
}

#misc {
  @include clearfix();
}

#f {
  @include fertigo(20px);
  color: $off-white;
  margin-left:8px;
}

address {
  color: $light-brown;
  font-size:1em;
  padding: 0 8px;
}

input {
  background: #514645;
  padding: 0 10px;
  height:27px;
  margin-left:15px;
  width:75%;
  @include border-radius(2px);
  @include monaco(12px);
  border:none;
  outline:none;
  &:active {
    outline:none;
  }
}


h2 {
  font-size:14px;
  padding: 14px 8px;
  clear:both;
  font-weight:normal;
}

.button {
  background: $pale-brown;
  padding:    10px 18px;
  float:left;
  cursor: pointer;
  margin: 3px 6px;
  @include border-radius(2px);
  color: $off-white;
  @include adelle(12.2px);
}

#elements {
  @include clearfix();
  .col + .col {
    & > .button:first-child {
      padding: 10px 12px;
    }
    & > .button + .button {
      padding: 10px 14px;
    }
  }
  .col:first-child + .col .button {
    margin-left: 5px;
  }
  .col + .col + .col {
    .button {
      margin:3px 2px 3px 6px;
    }
  }
  .col:first-child + .col + .col .button {
    padding:10px 12px;
    margin-right:1px;
  }
}

.col .button:nth-child(n + 2) {
  margin-left:3px !important
}

.ellipse {
 padding: 10px 16px  !important;
}
.segment {
  padding: 10px 10px !important;
}
.text {
  position:relative;
  left:3px;
  padding: 10px 23px !important;
}
.line {
  padding: 10px 16px !important;
  margin-left: 6px   !important
}
.point {
  position:relative;
  left:7px;
}
.rotate {
  padding: 10px 20px !important;
}
.translate {
  padding: 10px 12px !important;
}
.reflect {
  padding: 10px 11px !important;
}
.scale {
  padding: 10px 16px !important;
}
.shear {
  padding: 10px 13px !important;
}
.new {
  padding: 10px 21px;
}
.replay {
  padding: 10px 15px;
}

#transform {
  @include clearfix();
  .col {
   .button {
      padding: 10px 15px;
      margin: 3px 5px;
    }
  }
}


#bottom footer p {
  padding: 15px 8px;
  clear:both;
  @include text-shadow(1px 1px 2px rgba(96,96,96,0.35));
  word-spacing:1px;
  .underline {
    color:#EBE9E8;
    text-decoration:underline;
    &:hover {
      text-decoration:none;
    }
  }
  width:95%;
}

#new {
  @include clearfix();
  margin-bottom:-7px;
}
#bottom {
  border-top: rgba($light-brown, .45) 1px dashed;
  width:95%;
  .button {
    padding: 10px 17px;
  }
  & > .col:first-child {
    margin-top:15px;
  }
  margin-top:20px;
  @include clearfix();
}

.url {
  width:200px;
}

#left-bar {
  header img {
    .paste & {
      width:140px;
      height:80px;
    }
    width:195px;
    height:96px;
  }
  padding-left:8px;
  header p {
    width: 93.6%;
    word-spacing:2px;
    @include text-shadow(1px 1px 2px rgba(96,96,96,0.35));
    margin:0 auto;
  }
  .paste & {
    width:160px;
  }
  width: 259px;
  height:100%;
  float:left; 
  background: $oynx-brown;
}

#auth {
  @include clearfix();
  margin: 15px 5px;
  width:95%;
  a {
    text-decoration: none;
    &:hover {
      color: $light-brown;
      text-decoration:underline;
    }
  } 
  .col:first-child {
    padding-right:35px;
  }
}

.col {
  float:left;
  width: intrinsic;    
  @include clearfix();
  width: -moz-max-content; 
}

#grid {
  .paste & {
    width: calc(100% - 160px);    
  }
  width: calc(100% - 259px);
  height:100%;
}