html,body,#application {
  width: 100%;
  height:100%;
  @include adelle(12px);
}

p {
  @include adelle(13px);
  color: #EBE9E8;
}

body {
  background: #F2F2F2;
}

.red {
  color: $red;
}

#query {
}

[data-html] {
  display:none
}

.button.play,.button.reset {
  display:none
}


.dim {
  @include opacity(0.5);
  @include clearfix();
  cursor:default !important;
}

.finished {
  cursor:default !important;
}

.zoom {
  background: $pale-brown;
  width:46px;
  z-index:200;
  height:38px;
  overflow:hidden;
  cursor: pointer;
  @include clearfix();
  &.in {
    left:20px + 259px;
    span {
      position: relative;
      bottom:12px;
      left:6px;
      @include adelle(5em);
    }
  }
  &.out {
    span {
      position: relative;
      bottom:32px;
      left:10px;
      @include adelle(4.4em);
    }    
    left:75px + 259px;
  }
  position:absolute;
  bottom:0;
}

.button.undo {
  &.visible {
    display: block !important;
  }
  display:none;
}

.slider {

  div[class*="draw-"],
  div[class*="transform-"] {
    margin-left:5%;
    width: intrinsic;  
    input, label {
      clear:both;
      display:block;
    }
    input {
      margin-bottom: 10px;
    }
    @include clearfix();
    width: 192px;
  }
  .inside {
    padding:8px;
  }

  .button.draw, .button.transform {
    margin-top:18px;
  }

  .close-slider {
    right:2%;
    cursor:pointer;
    @include monaco(12px, $off-white);
    position:absolute;
    width:10px;
    height:10px;
  }
  background: #6D6262;
  padding:10px;
  @include border-radius(0 5px 0 5px 0);
}

a {
  color: $light-brown;
}

#misc {
  @include clearfix();
}

#f {
  @include fertigo(20px);
  color: $off-white;
  margin-left:8px;
}

address {
  color: $light-brown;
  font-size:1em;
  padding: 0 8px;
}

input {
  background: #514645;
  padding:10px;
  height:27px;
  margin-left:15px;
  width:75%;
  @include border-radius(2px);
  @include monaco(12px);
  border:none;
  outline:none;
  &:active {
    outline:none;
  }
}


h2 {
  font-size:14px;
  padding: 14px 8px;
  clear:both;
  font-weight:normal;
}

.button {
  background: $pale-brown;
  padding:    10px 18px;
  float:left;
  cursor: pointer;
  margin: 3px 6px;
  @include border-radius(2px);
  color: $off-white;
  @include adelle(12.2px);
}

#elements {
  @include clearfix();
  .col + .col {
    & > .button:first-child {
      padding: 10px 12px;
    }
    & > .button + .button {
      padding: 10px 14px;
    }
  }
  .col:first-child + .col .button {
    margin-left: 5px;
  }
  .col + .col + .col {
    .button {
      margin:3px 2px 3px 6px;
    }
  }
  .col:first-child + .col + .col .button {
    padding:10px 12px;
    margin-right:1px;
  }
}

#transform {
  @include clearfix();
  .col {
   .button {
      padding: 10px 15px;
      margin: 3px 6px;
    }
  }
}


#bottom footer p {
  padding: 15px 8px;
  clear:both;
  width:95%;
}

#bottom {
  border-top: rgba($light-brown, .45) 1px dashed;
  width:95%;
  & > .col:first-child {
    margin-top:15px;
  }
  margin-top:20px;
  @include clearfix();
}

#left-bar {
  header img {
    width:195px;
    height:96px;
  }
  padding-left:8px;
  header p {
    width:95%;
    margin:0 auto;
  }
  width: 259px;
  height:100%;
  float:left; 
  background: $oynx-brown;
}

#auth {
  @include clearfix();
  margin: 15px 5px;
  width:95%;
  a {
    text-decoration: none;
    &:hover {
      color: $light-brown;
      text-decoration:underline;
    }
  } 
  .col:first-child {
    padding-right:35px;
  }
}

.col {
  float:left;
  width: intrinsic;    
  @include clearfix();
  width: -moz-max-content; 
}

#grid {
  width: calc(100% - 259px);
  height:100%;
}